#counter {
    position: absolute;
    top: 200px;
    right: 10px;
    width: 300px;
    text-align: center;

    .stats {
        float: left;
        width: 33.33%;
    }

    .highlight {
        font-size: 30px;
        font-weight: 700;

        .received & {
            color: #1e73be;
        }
        .sent & {
            color: #be1eb9;
        }
        .clapped & {
            color: #00f3ff;
        }
    }

    h6 {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        color: #4a4a4a;
    }
}
