#counter {
    position: absolute;
    right: 20px;
    top: 80px;
    font-size: 16px;

    h1 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

    table {
        border: 1px solid #999;
    }

    td,
    th {
        padding: 20px;
        border: 1px solid #999;
    }

    th {
        text-align: right;
    }
}
